#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.header {
    background-color: #393e46;
    width: 100%;
    max-height: 64px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.header-content > a {
    color: #dfd0b8;
}

.header-buttons-div {
    display: flex;
}

.header-buttons-div > div {
    margin-right: 15px;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin: auto;
}

.post-content {
    justify-self: center;
    max-width: 60%;
    margin: 2em;
    justify-content: center;
    align-items: end;
    text-align: left;
}

.home-post {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    text-align: start;
}

.home-post::after {
    content: '';
    display: table;
    clear: both;
}

.home-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-post-header > h2 {
    margin-left: 20px;
}

.home-post-header > button {
    margin-left: 20px;
    transition: 0.5s;
}
.home-post-header > button:hover {
    border-color: transparent;
    color: red;
}

.home-post-body {
    align-items: flex-start;
    max-width: 600px;
    margin: auto;
}

.home-post-text {
    white-space: pre-wrap;
    text-align: left;
}

.home-post-image {
    width: 250px;
    float: right;
    height: auto;
    margin-left: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 2px 0px;
}

.login-container {
    max-width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.login-button-div > button {
    margin: 0 10px;
}

@media screen and (max-width: 480px) {
    .header-content {
        justify-content: space-around;
        padding: 0;
    }
    .header-content > h1 {
        margin: 0px;
    }
    .header-content > p {
        display: none;
    }
    .home-post-header {
        justify-content: space-between;
    }
    .home-post-header > h1 {
        font-size: 1.6em;
        padding-left: 20px;
        padding-right: 20px;
    }

    .home-post-header > button {
        margin-right: 20px;
        margin-left: 20px;
    }

    .home-post {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .home-post-body {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-post-image {
        float: none;
        height: auto;
        box-shadow: 5px 5px 2px 0px;
        margin: auto;
        margin-bottom: 1em;
    }

    .new-post-form {
        max-width: 85vw;
    }
}
